*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Consolas";
}

h1 {
  font-size: 3rem;
  padding: 1rem;
  background: #F67669;
  color: azure;
  border-radius: 0.5rem 0.5rem 0 0;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid  #E6E6F0;
  padding: 1rem 3.6rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

form input{
  border: 1px solid gray;
  border-radius: 0.3rem;
  width: 100%;
  background-color: #E6E6F0;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

form button {
  padding: 0.5rem;
  background: #F67669;
  color: azure;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

form button:hover{
  opacity: 0.8;
  color: gray;
  transition: all 0.3s;
}

div{
  padding: 1rem;
  background: #F67669;
  color: azure;
  border-radius:0.3rem;
  font-weight: bold;
  margin-top: 1rem;
}

div span{
  font-size: 1.5rem
}

.hidden{
  display: none;
}