*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(248,239,237,1) 0%, rgba(214,214,237,1) 50%, rgba(199,200,255,1) 100%);
  color: #1e2675;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

form {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

form input {
  height: 2rem;
  padding-left: 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid #e2e2d9;
  outline: none;
}

form input:focus {
  background-color: #ecebf5;
  transition: all 0.3s;
}

form button:hover {
  background-color: #006754;
  transition: all 0.3s;
}

form button {
  padding: 0.3rem 0.8rem;
  margin-left: 1rem;
  color: white;
  background: #14831a;
  border: 1px solid #ecebf5;
  border-radius: 0.3rem;
}

form i {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

ol li {
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.feito{
  text-decoration: line-through;
  opacity: 0.2;
}