@import "../config/reset";
@import "../config/mapa";
@import "../listaDeProdutos/produtos";
@import "../navbar/menu";

@BreakpointMobile: ~"(max-width: 767px)";
@BreakpointTablet: ~"(max-width: 1023px)";

body {
  background-color: #colors[corDeFundo];
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #colors[corFundoHeader];
  position: sticky;
  top: 0;
  left: 0;     

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}

section {
  padding: 56px 0;
}

@media @BreakpointTablet {
  .container {
      max-width: 80%;
  }

  .products {
      grid-template-columns: repeat(2, 48.5%);
      column-gap: 3%;
  }
}

@media @BreakpointMobile {

  .products {
      display: block;
  }

  .product-item  {
      margin-bottom: 32px;
  }
}